table.contacts th {
    text-align: left;
  }

  table.contacts th, table.contacts td {
    padding: 0.5rem;
  }

  .contactSummary {
    margin-top: 2rem;
  }

  .contact .name {
    text-transform: uppercase;
  }

  .contact.shaded {
    background-color: lightgray;
  }

  table.contacts {
    border-collapse: collapse;
  }